{% extends 'users/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h2>Sign up</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="id_submit" type="submit">Sign up</button>
</form>
<br>
<form>
    <button formaction="{% url 'polls:index' %}">Home</button>
</form>
{% endblock %}