{% extends 'users/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

{% if user.is_authenticated %}
Ciao {{ user.username }}! <a href="{% url 'logout' %}">logout</a>
<br><br>
<a id="id_newquestion" href="{% url 'polls:nuova_domanda' %}">Inserisci una domanda</a>

<h2>Domande disponibili</h2>
{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        [{{ question.created_by}}]
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}

{% else %}
<p>Devi essere autenticato per visualizzare le domande</p>
<a href="{% url 'login' %}">login</a>
{% endif %}

{% endblock %}

