{% extends 'users/base.html' %}

{% block title %} Nuova domanda {% endblock %}

{% block content %}
<h2>Nuova domanda</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method="post" action="#">
    {% csrf_token %}
    Titolo della domanda
    <br>
    <input type="text" id="id_question" name="question">
    <br>
    Inserisci le risposte della domanda separate da virgola
    <br>
    <textarea id="id_answers" style="resize:none" rows="4" cols="50"
              placeholder="opzione1,opzione2,..." name="answer"></textarea>
    <br>
    <button id="id_submit" type="submit">Crea domanda</button>
</form>
<br>
<form>
    <button formaction="{% url 'polls:index' %}">Home</button>
</form>
{% endblock %}