{% extends 'users/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
<br>
Non hai ancora un account? <a href="{% url 'signup' %}">registrati</a>
<br><br>
<form>
    <button formaction="{% url 'polls:index' %}">Home</button>
</form>
{% endblock %}